body{
    background-color:#15b1d4;
    font-family: sans-serif;
    color: white;
    min-height: 100vh;
}

img{
    height: 100px;
    width: 90px;
}

a{
    text-decoration: none;
    color: white;
}
 
a:hover{
    text-decoration: underline;
    transition-duration: 1.2s;
    color: #15b1d4:
}




